html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")    
        link(rel="stylesheet", href="/resource/style.css")
        body
            .accContainer 
                h1 ACCOUNT HAS BEEN CREATED
                h2 Click the link below to login!
                br
                a(href="/auth/login") Log In 