html 
    head 
        title #{title}
        link(rel="stylesheet", href="/resource/style.css") 
    body 
    .menu 
            a(href="/auth/login") LogIn
            a(href="/video/dashboard") Dashboard
            a(href="/video/new_video") Upload
    .border-line
        p HELLO