html
  head 
    title #{title}
    link(rel="stylesheet", href="/resource/style.css") 
  body 
    .container 
      .left 
        img#soccer(src="/resource/images/soccer.jpeg", alt="soccer")
      .right 
        .panel.login 
          img#logo(src="/resource/images/logo.jpg", alt="logo")
          form(action="/auth/login" method="POST")
            input.input-box(type="text" name="username" required placeholder="Phone number, username, or email")
            input.input-box(type="password" name="password" required placeholder="Password")
            input.button(type="submit" name="login" value="Login" )
        .panel.register
          p Don't have an account?
          a(href="/auth/register") Sign up
    footer 
      p Copyright &copy Miracle Sanchez 2023
