html
  head 
    title #{title}
    link(rel="stylesheet", href="/resource/style.css") 
  body 
    img#logo.top(src="/resource/images/logo.jpg", alt="logo")
    .menu
            a(href="/video/dashboard") Dashboard
            a(href="/video/new_video") Upload
    .border-line
    .message 
      h3 Welcome to SoccerWorld where you can upload and watch clips from the 2022 FIFA World Cup
    .container 
      .left 
        img#soccer(src="/resource/images/soccer.jpeg", alt="soccer")
      .right 
        .panel.login
          h3 SoccerWorld  
          img#logo(src="/resource/images/logo.jpg", alt="logo")
          form(action="/auth/login" method="POST")
            input.input-box(type="text" name="username" required placeholder="Username")
            input.input-box(type="password" name="password" required placeholder="Password")
            input.button(type="submit" name="login" value="Login" )
        .panel.register
          p Don't have an account?
          a(href="/auth/register") Sign up
    footer 
      p Copyright &copy Miracle Sanchez 2023
