*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* border: 5px solid rgb(23, 21, 21); */

}

body{
    background-color: #073656;    
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo.top{
    width : 70px;
    position: absolute;
    top: 15px;
    left: 10px;
    border-radius: 5px;

}
.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    position: absolute;
    top: 12px;
    left: 90px;
}
.menu a {
    text-decoration: none;
    color: #d5d9ee; /* Set the desired text color */
    font-size: 16px; /* Set the desired font size */
}

.menu a:hover {
    text-decoration: underline;
}
.border-line {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 100%;
    height: 2px;  /* Adjust the height of the border line */
    background-color: #3bb1ff;  /* Set the desired color of the border line */
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 80px;
}
.accContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

h1, h2, label{
    color: #dedede;
}

.VideoFormcontainer {
    border-radius: 3px;
    display: flex;
    padding: 25px 35px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;

}

.VideoFormcontainer .subForm {
    padding: 30px;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_box{
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: solid 2px #dedede;

}
.input_box::placeholder{
    color: #8a8a8a;
    font-size: 14px;
}

.but {
    width: 100%;
    padding: 4px 10px;
    background-color: #d5d9ee;
    border-radius: 5px;
    margin: 7px 0;
}

.but:hover{
    background-color: #b2dffc
    
}

#dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

#dashboard #label, #postedBy{
    border: solid 2px #6fbaec;
    padding-top: 20px;
}

#dashboard #wholeThing{
    margin-top: 20px;
    border-radius: 3px;
    border: solid 2px #3bb1ff;
}

#dashboard #title, #user{
 padding-left: 25%;
}


.videoExample iframe {
    padding-top: 20px;
}

#soccer{
    width: 300px;
    margin-right: 20px;
}

#logo{
    width: 65%;
    margin-bottom: 20px;
}

.panel {
    width: 350px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 20px 40px;
    margin: 5px 0px;
    display: flex;
}

.panel h3{
    font-family: 'Courier New', Courier, monospace;
    color: #073656;
}

.register, .logIn {
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.signup{
    display: flex;
    flex-direction: column;
}

.register a, .logIn a, .accContainer a {
    color: #3bb1ff;
    text-decoration: none;
    font-weight: 600;
}

.login{
    flex-direction: column;
    align-items: center;
}

.input-box {
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: 2px;
}

.input-box::placeholder {
    color: #8a8a8a;
    font-size: 12px;
}

.input-box:focus {
    outline: none;
    border: 1px solid #8a8a8a;
}

.button {
    width: 100%;
    background-color:#b2dffc;
    margin: 10px 0px;
    padding: 7px 0px;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 14px;
}

.button:hover {
    background-color: #3bb1ff;
    font-weight: 600;
}

.message {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    background-color:  #6fbaec;
    color: #073656;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}

footer p{
   margin-bottom: 30px;
   font-size: 12px;
   color: #8a8a8a;
}


@media only screen and (max-width: 600px){
    #soccer{
        display: none;
    }

    .VideoFormcontainer {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }
}